/* Crossword grid */

#current-clue-container {
  background-color: #d3dff5;
  padding-left: 10px;
  text-align: left;
}

#crossword-container {
  background-color: black;
  border: 3px solid black;
  display: grid;
  gap: 0;
  justify-content: center;
  padding: 0;
}

.cell {
  height: 30px;
  /* box-shadow: inset 0 0 0 1px black; */
  border: 0.5px solid black;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  background-color: #f9f9f9;
  width: 30px;
  position: relative;
  outline: none;
}

.cell-number {
  color: #333;
  font-size: 8px;
  left: 2px;
  pointer-events: none;
  position: absolute;
  top: 2px;
  user-select: none;
}

.cell-disabled {
  background-color: black;
  pointer-events: none; /* Prevents mouse interaction */
  color: transparent;   /* Hides any accidental text */
}

.cell-enabled {
  background-color: white;
  cursor: text;
  outline: none;
}

.cell-input {
  background-color: transparent;
  box-sizing: border-box;
  border-color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: bold;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  padding: 2px;
  width: 100%;
}

.cell-input:disabled {
  color: transparent;
  cursor: default;
}

.cell-cursor-highlight {
  box-shadow: inset 0 0 0 200px rgb(247, 232, 17);
  transition: box-shadow 0s ease;
}

.cell-highlight {
  box-shadow: inset 0 0 0 200px #d3dff5;
  transition: box-shadow 0s ease;
}

/* Clue container */

#clue-container {
  display: flex;
  flex-direction: row;
  gap: 10px; /* space between columns */
  height: 100%;
  overflow: hidden;
}

/* Clue columns */

.clue-column {
  background-color:  #eef2f6;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  min-width: 0;
}

.clue-column-title {
  background-color: white;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  padding: 4px 0;
  border-bottom: 1px;
  padding-bottom: 0px;
}

#clue-list-across,
#clue-list-down {
  border-radius: 5px;
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 5px 0 5px;

}

/* Individual clue entries */
.clue-item {
  border-radius: 5px;
  font-size: 14px;
  margin: 6px 0px;
  padding: 5px 5px;
  text-align: left;
}
.clue-item strong {
  margin-right: 6px;
}

.clue-item-active {
  background-color: #d3dff5;
}