<!DOCTYPE html>
<html>
<head>
  <title>Crossword Puzzle</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='crossword.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">  
</head>
<body>
  <h1> Crossword Puzzle</h1>
  <div id="game-container">
    <div id="crossword-and-current-clue-container">
      <div id="current-clue-container">&#8203;</div>
      <div id="crossword-container"></div>
    </div>
    <div id="clue-container">
      <div class="clue-column">
        <div class="clue-column-title">Across</div>
        <div id="clue-list-across"></div>
      </div>
      <div class="clue-column">
        <div class="clue-column-title">Down</div>
        <div id="clue-list-down"></div>
      </div>
    </div>
  </div>
  <script>
    const crossword_json = {{ crossword | tojson | safe }}
    const debug_mode = {{ 'true' if debugflag else 'false' }};
  </script>
  <script src="{{ url_for('static', filename='crossword.js') }}"></script>
  <script src="{{ url_for('static', filename='crossword_start_game.js') }}"></script>
  <script src="{{ url_for('static', filename='crossword_fill_board.js') }}"></script>
  <script src="{{ url_for('static', filename='crossword_build_solution.js') }}"></script>
  <script src="{{ url_for('static', filename='crossword_check_solution.js') }}"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>  
</body>
</html>