<!DOCTYPE html>
<html>
<head>
  <title>Crossword Puzzle</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='crossword.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">  
</head>
<body>
  <h1> Crossword Puzzle</h1>
  <div id="game-container">
    <span id="crossword-and-current-clue-container">
      <div id="current-clue-container">Current Clue Placeholder</div>
      <div id="crossword-container"></div>
    </span>
    <span id="clue-cointainer">
      <span id="clue-column-across" class="clue-column">Across</span>
      <span id="clue-column-down" class="clue-column">Down</span>
    </span>
  </div>
  <script>
    const crossword_json = {{ crossword | tojson }};
  </script>
  <script src="{{ url_for('static', filename='crossword.js') }}"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>  
</body>
</html>