<!DOCTYPE html>
<html>
<head>
  <title>Crossword Puzzle</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='crossword.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">  
</head>
<body>
  <h1> Crossword Puzzle</h1>
  <div id="crossword-container"></div>
  <script>
    const crosswordJson = {{ crossword | tojson }};
  </script>
  <script src="{{ url_for('static', filename='crossword.js') }}"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>  
</body>
</html>

